---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?APPID=ed8260b5da1b8863190db8f921c10d3c&q=Fortaleza&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0.0026,"cnt":40,"list":[{"dt":1511103600,"main":{"temp":29.66,"temp_min":27.36,"temp_max":29.66,"pressure":1022.92,"sea_level":1023.8,"grnd_level":1022.92,"humidity":97,"temp_kf":2.3},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"02d"}],"clouds":{"all":8},"wind":{"speed":7.88,"deg":96.5025},"sys":{"pod":"d"},"dt_txt":"2017-11-19
        15:00:00"},{"dt":1511114400,"main":{"temp":28.94,"temp_min":27.22,"temp_max":28.94,"pressure":1021.23,"sea_level":1022.2,"grnd_level":1021.23,"humidity":99,"temp_kf":1.73},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"clouds":{"all":32},"wind":{"speed":7.44,"deg":93.5008},"sys":{"pod":"d"},"dt_txt":"2017-11-19
        18:00:00"},{"dt":1511125200,"main":{"temp":27.94,"temp_min":26.79,"temp_max":27.94,"pressure":1021.94,"sea_level[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?APPID=ed8260b5da1b8863190db8f921c10d3c&q=Fortaleza&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-38.52,"lat":-3.72},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"base":"stations","main":{"temp":30,"pressure":1012,"humidity":55,"temp_min":30,"temp_max":30},"visibility":10000,"wind":{"speed":8.7,"deg":80},"clouds":{"all":40},"dt":1511100000,"sys":{"type":1,"id":4498,"message":0.0018,"country":"BR","sunrise":1511079043,"sunset":1511123317},"id":6320062,"name":"Fortaleza","cod":200}'
  recorded_at: Sun, 19 Nov 2017 14:27:57 GMT
recorded_with: VCR 3.0.3
