<div class="flex-grid fg-white text-shadow">
    <div class="row cell-auto-size flex-just-center">
        <div class="cell align-right">
            <h1><%= temperature %>ยบ</h1>
        </div>
        <div class="cell align-left" style="margin: 20px 0 0 10px;">
            <div><%= description %></div>
            <div>Feels like: <%= feels_like %>ยบ</div>
        </div>
    </div>
    <div class="row flex-just-center">
        <div class="cell align-center">
            <h1><%= city %></h1>
        </div>
    </div>
</div>
