<div class="grid text-shadow">
    <div class="row cells1">
        <div class="cell fg-white align-center">
            <h3>Was not possible to retrieve weather for the city <%= city %>.</h3>
        <div>
    <div>
<div>
